<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Monkey Typing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <script>
    function longest(){
      fetch('http://localhost:5000/match')
      .then( res => res.json())
      .then(result =>{     
          console.log("the result is ", result)
          displyer(result)                 
      }).catch( e => {console.log(e)})
    }
    function displyer(data){
      const content = document.querySelector('#longest-word');
      content.innerHTML = data  
    }
  </script>
  <body>
    <header>
      <h1 id="title">Monkey Typing</h1>
      <button onClick={longest()} type="button">Check for longest word </button>
      <h3 id="longest-word"></h3>
    </header>        
  <div class="content">
    {% block content %}
    {% endblock %}
    <ul class="list"></ul>
  </div> 
  </body>   
</html>
