<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Monkey Typing</title>
    </head>
    <script>
           function longest(){
                fetch('http://localhost:5000/match')
                .then( res => res.json())
                .then(result =>{
                    
                    console.log("the result is ", result)                
                }).catch( e => {console.log(e)})
           }
        </script>
    <body>
        <h1>Monkey Typing</h1>
        <button onClick={longest()} type="button">Get the longest </button>
        <div>{% block content %}{% endblock %}</div> 
    </body>
   
</html>
